# Basic Operations

In [ ]:
int # press shift + tab for documentation.
help(int) # either shift + tab or use help function for documentation.

In [1]:
print("This is my first line of code in python.")

This is my first line of code in python.

In [3]:
print("Hello\nThis is in the next line")

Hello
This is in the next line

In [10]:
print("Name\tClass")
print('Sai\tCSE')
print('Printing tab escape character literally \\t') # we're escaping backslash as well

Name	Class
Sai	CSE
Printing tab escape character literally \t

In [96]:
x = 4
y = 6


print('addition:', x + y)

addition: 10

In [97]:
print('subtraction:', x - y)

subtraction: -2

In [98]:
print('multiplication:', x * y)

multiplication: 24

In [99]:
print('division:', x / y)

division: 0.6666666666666666

In [100]:
print('floor_div:', x // y)

floor_div: 0

In [101]:
print('modulo:', x % y)

modulo: 4

In [102]:
print('exponent:', x ** y)

exponent: 4096

In [103]:
#BEDMA Bracket Exp Div Mul Add (includes subtraction)
print(2 ** 2 * 6 - 8 + 3 / 9)

16.333333333333332

In [104]:
print((((2 ** 2) * 6) - 8) + (3 / 9)) # explicitly using Brackets to confirm the BEDMA rule

16.333333333333332

In [105]:
a = 5 # variable
a += 1 # variable + 1 
b = a + 1 # both above statement and this one is same
print('value a:', a, 'value b:', b)
print(a)
a -= 1
print(a)

value a: 6 value b: 7
6
5

In [106]:
#Logical
print(2 < 9)
print(True and False) 
print(True or False)
print(6!=3)
print(True and not False)

True
False
True
True
True

In [107]:
# is (indentity comparison)

print([5] == [5])
print([5] is [5])
id([5])

True
False

4578294512

# Data Structures

## Numbers

In [108]:
x = 7

print('type of x:', type(x))

print('type of 9.0:', type(9.0))

y = 7 + 6j
print('squaring complex:', y * y)
print(type(y ))

print(isinstance(y, complex))

print('multiplying unit imaginaries:', (0+1j) * (0+1j))

type of x: <class 'int'>
type of 9.0: <class 'float'>
squaring complex: (13+84j)
<class 'complex'>
True
multiplying unit imaginaries: (-1+0j)

Binary - '0b' or '0B'
Octal - '0o' or '0O'
Hexadecimal - '0x' or '0X'

In [5]:
print('binary:', 0b1101011)

print('hexadecimal:', 0xFB + 0b10)

print(0o15)

0b1101011 + 0o15 # it is possible to add different numbers from different bases in python.

binary: 107
hexadecimal: 253
13

120

In [110]:
bin(107) # to convert to binary

'0b1101011'

Type Conversion

In [111]:
int(7.2)
int(-3.1)
float(5)
print('1+10j')
'1+10j'

1+10j

'1+10j'

## Strings

In [112]:
l = "hello world"
print(l.upper())

u = "HELLO WORLD"
print(u.lower())

HELLO WORLD
hello world

In [114]:
find_word = "I scream, you scream, we all scream for ice cream"
find_word.find('scream')

2

In [115]:
find_word = "I scream, you scream, we all scream for ice cream"
find_word.replace('scream', 'cream')

'I cream, you cream, we all cream for ice cream'

In [116]:
index_this_string = 'LPU guys are so disciplined and mischievous at the same time.'

print('first_char:', index_this_string[0])
print('second_char:', index_this_string[1])
print('third_char:', index_this_string[2])

print('all three chars together:', index_this_string[0:3])
print('this is same as above operation:', index_this_string[:3])

first_char: L
second_char: P
third_char: U
all three chars together: LPU
this is same as above operation: LPU

In [117]:
str_val = "7 oranges"
no_of_oranges = str_val[0]
print('number of oranges is', no_of_oranges)

number of oranges is 7

In [118]:
val = str_val[2:]
print(val)

oranges

In [119]:
#slicing by specifying start and end index
print(str_val[2:5])

ora

In [120]:
sample_sentence = "4 bananas 2 monkeys n"
fruit = sample_sentence[:9]
print(fruit)

4 bananas

In [121]:
print(sample_sentence[ :-2])

4 bananas 2 monkeys

In [122]:
animal = sample_sentence[10:-2]
print(animal)

2 monkeys

In [123]:
nums = '123456789'
even_nums = nums[1::2]
print(even_nums)

2468

In [124]:
odd_nums = nums[0::2]
print(odd_nums)

13579

In [125]:
odd_nums_again = nums[ :: 2]
odd_nums_again

'13579'

In [126]:
first_name = "Monty"
last_name = 'Python'

In [127]:
name = first_name + " " + last_name
print(name)

Monty Python

In [128]:
age = 30
my_age = ("I am "+ str(age) + " years old")
my_age

'I am 30 years old'

In [129]:
My_age = "I am {0} years old".format(age) 
My_age

'I am 30 years old'

In [130]:
A = "Welcome"
B = "to"
C = "Python"

print("{0} {1} using {2}".format(A,B,C))

Welcome to using Python

In [131]:
#concat and update
name += ' ' + my_age
print(name)

Monty Python I am 30 years old

In [132]:
space_at_end = "Is the space at the end required    "
print(space_at_end)
print(space_at_end.rstrip())

Is the space at the end required
Is the space at the end required

In [133]:
symbol_strip = '7%'
print(symbol_strip.rstrip('%'))

7

In [134]:
num_with_chars = '^456&'
print(num_with_chars.rstrip('&').lstrip('^'))

456

In [135]:
space_at_start = "   There is space at the start"
print(space_at_start)
print(space_at_start.lstrip())

   There is space at the start
There is space at the start

In [136]:
both_spaces = "   Trim whitespaces  "
print(spaces)
print(spaces.strip())

NameError: name 'spaces' is not defined

In [14]:
# ? Split the first name and last name

srajans_name = 'Srajan Kumar Shukla'
first_name, middle_name, last_name = srajans_name.split()

In [15]:
print(first_name)
print(middle_name)
print(last_name)

Srajan
Kumar
Shukla

In [17]:
_, rest_of_the_string = srajans_name.split('Sra')

In [25]:
first_three = srajans_name[:3]
rest_of_the_string

# we can use regex for this purpose.
srajans_name.split(' ', 1)

['Srajan', 'Kumar', 'Shukla']

In [16]:
str.split # use shift + tab here to call help
''.split # shift + tab does not work here.

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

In [27]:
# ? find replace

all_alpha_string = 'The quick brown fox jumps over a lazy dog.'

all_alpha_string.replace('brown', 'red')

'The quick red fox jumps over a lazy dog.'

In [31]:
# if there were two occurences

all_alpha_string_two_occurences = 'The quick brown brown fox jumps over a lazy dog.'

all_alpha_string_two_occurences.replace('brown brown', 'red', 1)

'The quick red fox jumps over a lazy dog.'

In [ ]:
help(all_alpha_string.replace)

In [33]:
# ? capitalize first letter of every word
# we call it a title case

lets_capitalize_to_shout_out_loud = 'Please listen to me carefully.'

lets_capitalize_to_shout_out_loud.title()

'Please Listen To Me Carefully.'

In [43]:
('Please.listen.to.me.guys.focus.here.'
 .title()
 .replace('Please.', "PLEASE! ")
 .replace('Focus.', ' FOCUS!'))

'PLEASE! Listen.To.Me.Guys. FOCUS!Here.'

In [46]:
# ? where this word start from in the string

i_want_to_find_srajans_name_in_this_string = 'xyz abc Priyanshu Srajan Vinod'

i_want_to_find_srajans_name_in_this_string.index('Srajan')

18

In [48]:
i_want_to_find_srajans_name_in_this_string.find('Srajan')

-1

In [49]:
# slicing

extract_third_character_from_string = 'extract third char'

extract_third_character_from_string[2]

't'

In [52]:
extract_first_five_characters = 'first five chars'
print(extract_first_five_characters[0:5])
print(extract_first_five_characters[:5]) # above statement is same
# print(extract_first_five_characters[start:end:step])

first
 five chars

In [59]:
this_string_has_alternate_spaces = 'S r a j a n S h u k l a'

this_string_has_alternate_spaces_but_not_now = this_string_has_alternate_spaces[::2]

print(this_string_has_alternate_spaces_but_not_now)

SrajanShukla

In [71]:
last_char = 'I want to get the last char'

last_char[-1] # negative indexes can also be used.

'r'

In [69]:
# ? reverse operation

reversed_name = 'alkuhS najarS'

correct_name = reversed_name[::-1]

In [64]:
print(correct_name)

Srajan Shukla

In [79]:
'alkuhS najarS'[::-1]

'Srajan Shukla'

In [81]:
# ? to convert to upper case


i_m_angry = 'I\'m angry with you.'

angry_upper = i_m_angry.upper()

# ? to convert to lower case


i_m_less_angry =  angry_upper.lower()

In [83]:


print(angry_upper)
print(i_m_less_angry)

I'M ANGRY WITH YOU.
i'm angry with you.

In [85]:
# ? concat

first_name = 'Roger'
last_name = 'That'

full_name = first_name + ' ' + last_name
print(full_name)

Roger That

In [88]:
# string formatting making things look sexier

# using fstring

name = 'Akarsh Jain'
strength_of = 28
organization = 'Upgrad'
chat_app = 'Telegram'

comprehensive_string = 'Tutor Akarsh Jain teaches the strength of 28 students. He works in organisation named Upgrad and he uses Telgram app for chat purpose.'

comprehensive_string_using_fstring = f'Tutor {name} teaches the strength of {strength_of} students. He works in organisation named {organization} and he uses {chat_app} app for chat purpose.'

print(comprehensive_string, '\n')
print(comprehensive_string_using_fstring)

Tutor Akarsh Jain teaches the strength of 28 students. He works in organisation named Upgrad and he uses Telgram app for chat purpose.

Tutor Akarsh Jain teaches the strength of 28 students. He works in organisation named Upgrad and he uses Telegram app for chat purpose.

In [90]:
# using format method

name = 'Srajan Shukla'
strength_of = 40
organization = 'Upgrad'
chat_app = 'Telegram'

comprehensive_string_using_format_method = 'Tutor {} teaches the strength of {} students. He works in organisation named {} and he uses {} app for chat purpose.'

readable_result = comprehensive_string_using_format_method.format(name, strength_of, organization, chat_app)

print(readable_result)

Tutor 40 teaches the strength of Srajan Shukla students. He works in organisation named Upgrad and he uses Telegram app for chat purpose.

'first_arg: second_arg, second_arg: first_arg'

In [ ]:
? to print like first name is this and last name is this
? copy one string to another
? placing spaces
? padding
? number of substring present in the big string?
? length of a given string
? repeat the string
? distinct char in string 
? finding vowels
? nth max
? number of uppercase ->

In [ ]:
# ? frequency of character count